<h2 style="margin-bottom: 0.618rem;">Dashboard Overview</h2>
<div class="overview_grid">
	<div class="payroll_total card">
	  <h3 title="Total Payroll Paid" class="card_title">Payroll Expenses</h3>
	  <span class="card_info">$350K</span>
	  <p><small class="card_subtext">This Month(June 2025)</small></p>
	</div>
	<div class="employee_total card">
	  <h3 title="Total Employees" class="card_title">Employees</h3>
	  <span class="card_info">25</span>
	  <p><small class="card_subtext">0 added since last month</small></p>
	</div>
	<div class="deduction_total card">
	  <h3 title="Total Deductions Paid" class="card_title">Deductions Paid</h3>
	  <span class="card_info">$150K</span>
	  <p><small class="card_subtext">This Month(June 2025)</small></p>
	</div>
	<div class="contribution_total card">
	  <h3 title="Total Contributions Paid" class="card_title">Contributions Paid</h3>
	  <span class="card_info">$50,000</span>
	  <p><small class="card_subtext">This Month(June 2025)</small></p>
	</div>
	<div class="payroll_breakdown">
	  <h3>Payroll Expenses Breakdown</h3>
    <div class="breakdowns_chart">
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Jan</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Feb</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Mar</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Apr</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">May</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Jun</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Jul</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Aug</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Sep</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Oct</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Nov</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Dec</div>
      </div>
    </div>
	</div>
	<div class="pay_period_breakdown"><h3>Current Pay Period Breakdown</h3>
    <div class="pay_period_subheaders">
      <div class="pay_period_subtitle">
        10 <span class="pay_period_subtext">Working Days</span>
      </div>
      <div class="pay_period_subtitle">
        80 <span class="pay_period_subtext">Working Hours</span>
      </div>
    </div>
    <div class="pay_period_bar">Months Dates</div>
  </div>
	<div class="recent_activity">
	  <h3>Recent Payroll Activity</h3>
    <table class="recent_activity_table">
      <tr>
        <th class="table_header">Employee</th>
        <th class="table_header">Position</th>
        <th class="table_header">Salary Paid</th>
        <th class="table_header">Status</th>
      </tr>
      <tr>
        <td class="table_data">Hedy Lamarr</td>
        <td class="table_data">Networks Operato</td>
        <td class="table_data">$350.00</td>
        <td class="table_data">Paid</td>
      </tr>
      <tr>
        <td class="table_data">Ada Lovelace</td>
        <td class="table_data">Digital Forensics</td>
        <td class="table_data">$350.00</td>
        <td class="table_data">Paid</td>
      </tr>
      <tr>
        <td class="table_data">Hypatia</td>
        <td class="table_data">Mathematician</td>
        <td class="table_data">$350.00</td>
        <td class="table_data">Paid</td>
      </tr>
      <tr>
        <td class="table_data">Hannah Fry</td>
        <td class="table_data">Design Expert</td>
        <td class="table_data">$350.00</td>
        <td class="table_data">Paid</td>
      </tr>
    </table>
	</div>
</div>
