<h2>Current Employees</h2>
<div class="employee_data">
  <div class="total_employees card">
    <h3 class="card_title">Total Employees</h3>
    <span class="card_info">100</span>
    <p class="card_subtext">Total workforce,registered with payroll on track</p>
  </div>
  <div class="active_employees card">
    <h3 class="card_title">Acrive Employees</h3>
    <span class="card_info">100</span>
    <p class="card_subtext">Currently active employees</p>
  </div>
  <div class="inactive_employees card">
    <h3 class="card_title">Inactive Employees</h3>
    <span class="card_info">100</span>
    <p class="card_subtext">Inactive employees with payroll adjustments in place</p>
  </div>
</div>
<div class="employees_table_section">
  <h3>Employee List</h3>
  <div class="employee_details">
    <table class="employees_table">
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Department</th>
        <th>Net Salary</th>
      </tr>
      <tr>
        <td>Ada Lovelace</td>
        <td>Programmer</td>
        <td>Reverse Engineering</td>
        <td>$185200</td>
      </tr>
    </table>
    <div class="employee_card card">
      <div class="employee_foto" style="height: 2rem; width: 2rem; border-radius: 50%; background-color: red;">
      </div>
      <div>Gross Salary</div>
      <div>Net Salary</div>
      <div>Deductions</div>
      <div>Contributions</div>
    </div>
  </div>
</div>
