<h2>Current Employees</h2>
<div class="employee_data">
  <div class="total_employees card">
    <h3 class="card_title">Total Employees</h3>
    <span class="card_info">100</span>
    <p class="card_subtext">Total workforce,registered with payroll on track</p>
  </div>
  <div class="active_employees card">
    <h3 class="card_title">Acrive Employees</h3>
    <span class="card_info">100</span>
    <p class="card_subtext">Currently active employees</p>
  </div>
  <div class="inactive_employees card">
    <h3 class="card_title">Inactive Employees</h3>
    <span class="card_info">100</span>
    <p class="card_subtext">Inactive employees with payroll adjustments in place</p>
  </div>
</div>
<div class="employees_table_section">
  <h3>Employee List</h3>
  <div class="employee_details">
    <table class="employees_table table_clickable">
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Department</th>
        <th class="is-numeric">Net Salary</th>
        <th class="is-numeric">Contributions</th>
        <th class="is-numeric">Total Deductions</th>
      </tr>
      <tr>
        <td>Ada Lovelace</td>
        <td>Programmer</td>
        <td>Reverse Engineering</td>
        <td class="is-numeric">$185,200</td>
        <td class="is-numeric">$6,500</td>
        <td class="is-numeric">$14,800</td>
      </tr>
      <tr>
        <td>Hypatia</td>
        <td>Quantitative Analyst</td>
        <td>Quantitative Programming</td>
        <td class="is-numeric">$200000</td>
        <td class="is-numeric">$10,000</td>
        <td class="is-numeric">$15,000</td>
      </tr>
    </table>
    <div class="employee_card card">
      <div class="employee_avatar">
        <span>AL</span>
      </div>

      <div class="employee_name">Ada Lovelace</div>
      <div class="employee_role">Programmer • Reverse Engineering</div>

      <div class="employee_metrics">
        <div class="metric">
          <span class="label">Gross Salary</span>
          <span class="value">$200,000</span>
        </div>

        <div class="metric">
          <span class="label">Net Salary</span>
          <span class="value">$185,200</span>
        </div>

        <div class="metric">
          <span class="label">Deductions</span>
          <span class="value negative">-$14,800</span>
        </div>

        <div class="metric">
          <span class="label">Contributions</span>
          <span class="value">$6,500</span>
        </div>
      </div>
    </div>
  </div>
</div>
