<div class="payroll_header">
  <h2>Process Payroll</h2>
  <div class="payroll_functions">
    <button class="new_payroll_btn">+ New Payroll</button>
    <button class="generate_report_btn">Generate Report</button>
    <select class="payperiod_selection" id="pay-period" name="pay_period">
      <option value="01-08-2025">1st Aug, 2025 - 31st Aug, 2025</option>
    </select>
  </div>
</div>
<div class="payroll_grid">
  <div class="payroll_expenses card">
	  <h3 title="Total Payroll Paid" class="card_title">Payroll</h3>
	  <span class="card_info">$350K</span>
	  <p><small class="card_subtext">This Month(June 2025)</small></p>
	</div>
	<div class="payroll_contributions card">
	  <h3 title="Total Contributions Paid" class="card_title">Contributions &amp; Incentives</h3>
	  <span class="card_info">$50,000</span>
	  <p><small class="card_subtext">This Month(June 2025)</small></p>
	</div>
	<div class="payroll_deductions card">
	  <h3 title="Total Deductions Paid" class="card_title">Deductions &amp; Taxes</h3>
	  <span class="card_info">$150K</span>
	  <p><small class="card_subtext">This Month(June 2025)</small></p>
	</div>
  <div class="payroll_employees card">
	  <h3 title="Total Employees" class="card_title">Employees</h3>
	  <span class="card_info">25</span>
	  <p><small class="card_subtext">0 added since last month</small></p>
	</div>
  <div class="payroll_breakdowns">
	  <h3>Payroll Expenses Breakdown</h3>
    <div class="breakdowns_chart">
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Jan</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Feb</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Mar</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Apr</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">May</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Jun</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Jul</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Aug</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Sep</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Oct</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Nov</div>
      </div>
      <div class="breakdown">
        <div class="tooltip breakdown_bar">
          <div class="tooltip_text">
            <h4 class="tooltip_subtitle">Expenses Breakdown</h4>
            <ul class="tooltip_list">
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">27555</span>
                <span class="tooltip_breakdown_category">Base Salary</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">26555</span>
                <span class="tooltip_breakdown_category">Overtime Pay</span>
              </li>
              <li class="tooltip_list_item">
                <span class="tooltip_breakdown_value">50000</span>
                <span class="tooltip_category">Incentives</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breakdown_month">Dec</div>
      </div>
    </div>
	</div>
  <div class="payperiod_details">
    <div class="pay_period_details_topRow flex">
      <div class="pay_period_date flex col">
        <span class="sub_title">Payroll Period</span>
        <span id="pay-period-date">Aug 1, 2025 - Aug 15, 2025</span>
      </div>
      <div class="pay_period_total_employees flex col">
        <span class="sub_title">Total Employees</span>
        <span id="employee_count">100</span>
      </div>
    </div>
    <div class="pay_period_details_bottomRow flex">
      <div class="pay_period_pay_day flex col">
        <span class="sub_title">Pay Day</span>
        <span>Aug 15<sup>th</sup>, 2025</span>
      </div>
      <div class="pay_period_status flex col">
        <span class="sub_title">Status</span>
        <span>Scheduled</span>
      </div>
    </div>
    <div class="pay_period_graphRow flex">
      <div class="graph_details flex">
        <div class="circle_graph"></div>
        <div class="graph_info">
          <div class="gross_pay flex col">
            <span class="sub_title">Gross Pay</span>
            <span>$123,000</span>
          </div>
          <div class="deductions flex col">
            <span class="sub_title">Deductions</span>
            <span>$90,000</span>
          </div>
        </div>
      </div>
      <div class="totals flex col">
        <div class="square"></div>
        <span class="sub_title">Total Pay</span>
        <span>$14,000,000</span>
      </div>
    </div>
  </div>
  <div class="employees_payroll_table">
    <table class="table">
      <tbody>
        <tr>
          <th class="table_header">Employee</th>
          <th class="table_header">Position</th>
          <th class="table_header">Department</th>
          <th class="table_header">Net Salary</th>
          <th class="table_header">Payment Status</th>
          <th class="table_header">Actions</th>
        </tr>
        <tr>
          <td>Michael Smith</td>
          <td>Manager</td>
          <td>Engineering</td>
          <td>$7200</td>
          <td>Paid</td>
          <td>payslip</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
